doctype basic
html
    head
        link(href='//code.cdn.mozilla.net/fonts/fira.css', rel='stylesheet')
        link(href='/css/style.css', rel='stylesheet')
        script(type='text/javascript' src='//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
        title Який ти депутат? Вони голосують для тебе
    body(style="background-color: #ffea8a; color: #696969")
        div.waper
            div.header
                a(href="https://rada4you.org/" class="brand") Вони голосують для тебе
                button(class="brand" id="about") Про тест
            div.heading
                div.left-head
                div.centre-head
                    h1.text-center Який ти депутат?
                div.right-head
            div.about
                a(href="#" class="close-thik")
                span
                    p Якщо б ти був/була депутатом, то як би голосував/ла?
                    p тест – дізнайся правду!
                    p Результати згенеровано сервісом
                    p <a href="https://rada4you.org" target="_blank">RADA4YOU.ORG</a>
                    p на базі парламентських даних.

            div#result
                div.row-image
                    h2 Твої однодумці
                    - each val in head
                        if ! isNaN(val.percent) & val.percent != 0
                            div.image
                                a(href="https://rada4you.org/mp/"+ val.id target="_blank" class="link-mp")
                                    img(src="https://s3.amazonaws.com/ukraine-verkhovna-rada-deputy-images/"+ val.id +".jpg", class="member-photo")
                                    p.text-mp=val.first_name
                                    p.text-mp=val.last_name
                div.result
                    ul
                        - each val in head
                            -percent=(val.percent*100).toFixed(0)
                            if isNaN(percent)
                                -percent=0
                            else
                                -percent=percent
                            if percent != 0
                                li #{val.first_name} #{val.last_name} (#{val.party}) #{percent} %
                div.row-image
                    h2 Твої опоненти
                    - each i in foter
                        if ! isNaN(i.percent) & i.percent != 0
                            div.image
                                a(href="https://rada4you.org/mp/"+ i.id target="_blank" class="link-mp")
                                    img(src="https://s3.amazonaws.com/ukraine-verkhovna-rada-deputy-images/" + i.id + ".jpg", class="member-photo")
                                    p.text-mp=i.first_name
                                    p.text-mp=i.last_name
                div.result
                    ul
                        - each val in foter
                            -percent=(val.percent*100).toFixed(0)
                            if isNaN(percent)
                                -percent=0
                            else
                                -percent=percent
                            if percent != 0
                                li #{val.first_name} #{val.last_name} (#{val.party}) #{percent} %
        footer.footer
            p.text-center Підготовлено в рамках Програми USAID “РАДА: підзвітність, відповідальність, демократичне парламентське представництво”, що виконується Фондом Східна Європа.
                <br> &copy; Громадянська мережа ОПОРА 2017
    script
        $(".brand, .about").click(function() {$( ".about" ).fadeToggle( "slow" );});
