doctype basic
html
    head
        link(href='//code.cdn.mozilla.net/fonts/fira.css', rel='stylesheet')
        link(href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous", rel='stylesheet')
        link(href='/css/style.css', rel='stylesheet')
        title Який ти депутат? Вони голосують для тебе
    body(style="background-color: #ffea8a; color: #696969")
        div(class="container-fluid header")
        div.container
            div.row
                - each val in head
                    -  short_name= val.name.split(' ')
                    div(class="col-xs-4 col-md-2")
                        img(src="https://s3.amazonaws.com/ukraine-verkhovna-rada-deputy-images/"+ val.id +".jpg", class="member-photo")
                        h3 #{short_name[0][0] + "."+short_name[1]}
            div.result
                h2 Вітаємо! у тебе – ідеї, як в #{head[0].name} (#{head[0].party}), цінності як в #{head[1].name} (#{head[1].party}), переконання #{head[2].name} (#{head[2].party}), риторика #{head[3].name} (#{head[3].party}) і позиція як в #{head[4].name} (#{head[4].party}).

            div.row
                - each i in foter
                    -  short_name= i.name.split(' ')
                    div(class="col-xs-4 col-md-2")
                        img(src="https://s3.amazonaws.com/ukraine-verkhovna-rada-deputy-images/" + i.id + ".jpg", class="member-photo")
                        h3 #{short_name[0][0] + "." + short_name[1]}
        footer