doctype basic
html
    head
        link(href='//code.cdn.mozilla.net/fonts/fira.css', rel='stylesheet')
        link(href='/css/style.min.css', rel='stylesheet')
        script(type='text/javascript' src='//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
        script.
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function () {
                            (i[r].q = i[r].q || []).push(arguments)
                        }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                        m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-70897601-2', 'auto');
            ga('send', 'pageview');
        title Який ти депутат? Вони голосують для тебе
        meta(property="og:url" content="https://test.rada4you.org/result?test=#{id}")
        meta(property="og:type" content="website")
        meta(property="og:title"         content='Тест "Який ти депутат?"')
        meta(property="og:description"   content="Мій результат тесту! А на кого з нардепів ти найбільше схожий? Пройди тест - ідентифікуй себе.")
        meta(property="og:image"         content="https://test.rada4you.org/img/wmp.jpg")
    body(style="background-color: #ffea8a; color: #696969")
        div.waper
            div.header
                a(href="https://rada4you.org/" target="_blank" class="brand") Вони голосують для тебе
                button(class="brand" id="about") Про тест
            div.heading
                div.left-head
                div.centre-head
                    h1.text-center Який ти депутат?
                    if ! isNaN(head[0].percent)
                        h2.text-center Клікни на фото - дізнайся про нардепа більше
                    end
                div.right-head
            div.about
                a(href="#" class="close-thik")
                span.text-center
                    h2 Про тест РАДА4Ю
                    | Уявіть себе депутатом Ради у цьому скликанні. На кого із 422 обранців ви були б схожі? <br>
                    | Тест “Який ти депутат?” - це  35 різних політик з онлайн-сервісу <a href="rada4you.org" target="_blank">Rada4you.org</a>, на базі яких розроблено питальник. <br> Пропонуєм вам відповісти на 15 питань, а наш робот проведе непрості калькуляції і підготує список найбільше і найменше схожих на вас нардепів. <br>
                    | Перевірте себе, результат може стати несподіванкою для вас &#128527;. <br> Є питання? Пишіть нам на сторінку фб <a href="https://www.facebook.com/DorogiDeputaty" target="_blank">«Дорогі депутати»</a> чи на пошту <a href="mailto:rada4you@opora.org.ua">rada4you@opora.org.ua</a>

            div#result
                if isNaN(head[0].percent)
                    h2.text-center Хммм... Система тебе не хакнула.
                    div#messages
                        a(href="/")
                            img(src="img/not_mp.png", class="not_mp")
                            buton.button Спробуй ще раз
                else
                    div.row-image
                        h2 Твої однодумці
                        - each val in head
                            if val.percent > 0
                                div.image
                                    a(href="https://rada4you.org/mp/"+ val.id target="_blank" class="link-mp")
                                        img(src="https://s3.amazonaws.com/ukraine-verkhovna-rada-deputy-images/"+ val.id +".jpg", alt=val.first_name + " " + val.last_name, title=val.first_name + " " + val.last_name, class="member-photo")
                                        p.text-mp=val.first_name
                                        p.text-mp=val.last_name
                    div.result
                        ul
                            - each val in head
                                -percent=(val.percent*100).toFixed(0)
                                if percent > 0
                                    li #{val.first_name} #{val.last_name} (#{val.party}) #{percent} %
                    div.row-image
                        h2 Твої опоненти
                        - each i in foter
                            if i.percent <= 0
                                div.image
                                    a(href="https://rada4you.org/mp/"+ i.id target="_blank" class="link-mp")
                                        img(src="https://s3.amazonaws.com/ukraine-verkhovna-rada-deputy-images/" + i.id + ".jpg", , alt=i.first_name + " " + i.last_name, title=i.first_name + " " + i.last_name, class="member-photo")
                                        p.text-mp=i.first_name
                                        p.text-mp=i.last_name
                    div.result
                        ul
                            - each val in foter
                                -percent=(val.percent*100).toFixed(0)
                                if percent <= 0
                                    li #{val.first_name} #{val.last_name} (#{val.party}) #{percent} %
                    div
                        a(href="/")
                            buton.button Пройти тест
                div.fb
                    div(class="fb-share-button" data-href="https://test.rada4you.org/result?test=#{id}" data-layout="button" data-size="small" data-mobile-iframe="true")
                        a(class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse")
        footer.footer
            p.text-center Підготовлено в рамках Програми USAID “РАДА: підзвітність, відповідальність, демократичне парламентське представництво”, що виконується Фондом Східна Європа.
                <br> &copy; Громадянська мережа ОПОРА 2017
        div#fb-root
        script $("button.brand, .about").click(function() {$( ".about" ).fadeToggle( "slow" );});
        script (function(d, s, id) {var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/uk_UA/sdk.js#xfbml=1&version=v2.8";fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));
